<h1>Recipes!</h1>

<ul>
  #foreach ($tag in $tags)
   <li><a href="/tags/$tag.getId()">$tag.getTag()</a></li>
  #end
</ul>


<h3><a href="/recipes">Recipes</a></h3>

<h3><a href="/ingredients">Ingredients</a></h3>
