<h1>All Tags</h1>

<ul>
  #foreach ($tag in $allTags)
   <li><a href="/tags/$tag.getId()">$tag.getTag()</a></li>
  #end
</ul>

<h3>Add a new tag:</h3>

<form action=/new_tag method="post">
  <label for="name">Tag Name</label>
  <input id="name" name="name" type="text">

  <button type="submit" class="btn btn-default">Add Tag</button>
</form>

<p><a href="/">Home</a></p>
