<h1>$recipe.getName()</h1>

#if($recipe.getTags())
  <p>Here are the tags for this recipe:</p>
  <ul>
    #foreach($tag in $recipe.getTags())
      <li>$tag.getTag()</li>
    #end
  </ul>
#end

<p><a href="/recipes/$recipe.getId()/edit">Edit this recipe</a></p>

<p><a href="/">Home</a></p>
